[submodule "Setup"]
	path = Setup
	url = https://github.com/ichbinkenny/redefined-destruction-setup.git
[submodule "Bluetooth"]
	path = Bluetooth
	url = https://github.com/ichbinkenny/redefined-destruction-bluetooth
[submodule "NFC"]
	path = NFC
	url = https://github.com/ichbinkenny/redefined-destruction-nfc
