[submodule "Setup"]
	path = Setup
	url = https://github.com/ichbinkenny/redefined-destruction-setup.git
[submodule "Bluetooth"]
	path = Bluetooth
	url = https://github.com/ichbinkenny/redefined-destruction-bluetooth
[submodule "NFC"]
	path = NFC
	url = https://github.com/ichbinkenny/redefined-destruction-nfc
[submodule "Networking"]
	path = Networking
	url = https://github.com/ichbinkenny/redefined-destruction-networking.git
[submodule "Movement"]
	path = Movement
	url = https://github.com/ichbinkenny/redefined-destruction-movement.git
